[SERVICE]
    Flush        5
    Daemon       Off
    Log_Level    info
    HTTP_Server  Off

{% for input in fluentbit_inputs %}
[INPUT]
    Name        {{ input.name }}
    {% for key, value in input.items() if key != 'name' %}
    {{ key | replace('_', ' ') | title | replace(' ', '_') }} {{ value }}
    {% endfor %}
{% endfor %}

{% for output in fluentbit_outputs %}
[OUTPUT]
    Name        {{ output.name }}
    {% for key, value in output.items() if key != 'name' %}
    {{ key | replace('_', ' ') | title | replace(' ', '_') }} {{ value }}
    {% endfor %}
{% endfor %}
